<div>
  <select #universe (change)="changeUniverse(universe.value)">
    <option value="all">All</option>
    <option value="dc">DC</option>
    <option value="marvel">Marvel</option>
  </select>
  <div *ngFor="let hero of heroes">
    <ngsh-hero *ngIf="selectedUniverse==='all' || selectedUniverse===hero.universe" [hero]="hero" (edit)="editHero($event)"></ngsh-hero>
  </div>
</div>
<div>
  <ngsh-hero-detail *ngIf="selectedHero" [hero]="selectedHero" (close)="editHero()"></ngsh-hero-detail>
</div>
