.hero {
  padding: 4px;
  margin-bottom: 16px;
  border: 1px solid black;
  border-radius: 4px;
  width: 500px;
}

.photo {
  float: left;
  margin: 0 8px 8px 0;
}

.detail-title {
  font-weight: bold;
}

img {
  width: 150px;
}

.small img {
  width: 50px;
}

.small {
  width: 250px;
}
