<div class="hero small">
  <div class="photo">
    <img [src]="hero.photo">
  </div>
  <div class="details">
    <div class="detail">
      <span class="detail-title" *ngIf="!small">Name</span>
      <p class="detail-text">{{hero.name | uppercase}}</p>
    </div>
    <div class="detail" *ngIf="!small">
      <span class="detail-title">Description</span>
      <p class="detail-text">{{hero.description}}</p>
    </div>
  </div>
  <button (click)="callHero()">CALL</button>
  <button (click)="editHero()">EDIT HERO</button>
</div>
<!-- <div>
  <label>name:
    <input [(ngModel)]="hero.name" placeholder="name">
  </label>
</div> -->
